
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Muli|Righteous');

/* 
font-family: 'Righteous', cursive;
font-family: 'Baloo Thambi', cursive;
font-family: 'Muli', sans-serif;
*/
::selection {
    background-color: transparent;

}

body {
    color: #303030;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Righteous', cursive;
}

canvas {
    display: block;
}

.block-audio {
    display: none;
}

.mahi_wish {
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
}

.mahi_wish p span {
    display: block;
    font-family: 'Baloo Thambi', cursive;
    letter-spacing: initial;
}

.mahi_wish p {
    font-size: 80px;
    line-height: 1.5;
    letter-spacing: 4.5px;
}

.mahi_wish p span i {
    font-style: normal;
    color: #F44336;
}

p.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

p.fixed span {
    position: absolute;
    right: 5%;
    font-size: 12px;
    color: #FFEB3B;
}

@media only screen and (max-width:768px) {
    .mahi_wish p {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
}

/* Thiết lập chữ ẩn ban đầu */
.hidden-text {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .text2 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .bright-text {
    font-size: 80px;
    line-height: 1.5;
    letter-spacing: 4.5px;
    font-weight: bold;
  }

  .text3{
    color: pink;
    text-align: center;
    font-size: 90px;
  }


  .one{
    color:white;
    font-size: 23px;
    position:absolute;
    top: 10px;
    left: 90px;
}

.two{
    text-align: left;
    color:white;
    position:absolute;
    font-size: 23px;
    top: 220px;
    left: 860px;
}

.three{
    text-align: left;
    color:white;
    position:absolute;
    font-size: 23px;
    top: 440px;
    left: 360px;
}

.text7 {
    text-align: left;
    color:white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .text4 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .text5 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .text6 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .bright-text {
    font-size: 80px;
    line-height: 1.5;
    letter-spacing: 4.5px;
    font-weight: bold;
  }

  .anh1{
    position:absolute;
    top:200px;
    left:600px;
}

.anh2{
    position:absolute;
    top:190px;
    left:400px;
}

.anh3{
    position:absolute;
    top:130px;
    left:700px;
}

.anh4{
    position:absolute;
    top:450px;
    left:500px;
}

.anh5{
    position:absolute;
    top:150px;
    left:470px;
}

.anh6{
    position:absolute;
    top:230px;
    left:380px;
}

.anh7{
    position:absolute;
    top:230px;
    left:500px;
}

.anh11 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh22 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  
  .anh33 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh44 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh55 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .anh66{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .text10{
    font-size: 10px;
position:absolute;
top:640px;
left:30px;
color: white;
  }

  .text10{
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Áp dụng hiệu ứng fadeIn với transition */
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }
